<div class="col-lg-12 middle-content"> <!-- Changed to 9 for a 12-column grid layout -->
    <% const sections = [
        { title: 'Projects', items: user.projects },
        { title: 'Achievements', items: user.achievements },
        { title: 'Job Postings', items: user.jobPosts, link: 'jobs' },
        { title: 'Discussion Posts', items: user.discussionPosts, link: 'discussions' },
        { title: 'Groups Joined', items: user.groupsJoined, link: 'groups', leave: true },
        { title: 'Groups Created', items: user.groupsCreated, link: 'groups' },
        { title: 'Quizzes Participated', items: user.quizzesParticipated, link: true, quiz: 'participate', remove: true },
        { title: 'Quizzes Created', items: user.quizzesCreated, link: true, quiz: 'create' },
        { title: 'Events Organized', items: user.eventsOrganised, link: 'events' },
        { title: 'Events Joined', items: user.eventsJoined, link: 'events', leave: true },
        { title: 'Success Stories', items: user.successStories, story: true },
        { title: 'Payments Made', items: user.payments, payment: true },
        { title: 'Donations Created', items: user.donations, donation: true }
    ]; %>

    <% sections.forEach(section => { %>
        <div class="mb-4">
            <h2 class="section-title" id="<%= section.title.replace(/\s+/g, '-').toLowerCase() %>"><%= section.title %></h2>
            <% if (section.items.length) { %>
                <ul class="list-group" id="list-<%= section.title.replace(/\s+/g, '') %>">
                    <% section.items.reverse().forEach((item, index) => { %>
                        <li class="list-group-item hidden-item">
                            <span>
                                <% if (section.link && !section.quiz) { %>
                                    <a href="/<%= section.link %>/<%= item._id %>"><%= item.title || item.name %></a>
                                <% } else if (section.quiz === 'create') { %>
                                    <a href="/groups/<%= item.group %>/quizzes/<%= item._id %>"><%= item.title %></a>
                                <% } else if (section.quiz === 'participate') { %>
                                    <a href="/groups/<%= item.group %>/quizzes/<%= item._id %>/leaderboard"><%= item.title %></a>
                                <% } else if (section.story) { %>
                                    <strong>Story Title:</strong> <%= item.title %>
                                    <p><%= item.description %></p>
                                <% } else if (section.payment) { %>
                                    <div>
                                        <strong>Date:</strong> <%= item.createdAt.toDateString() %><br>
                                        <strong>Transaction ID:</strong> <%= item._id %><br>
                                        <a href="/donations/<%= item.donationId._id %>">
                                            <%= item.donationId ? (item.donationId.title.length > 30 ? item.donationId.title.substring(0, 30) + '...' : item.donationId.title) : 'N/A' %>
                                        </a>
                                        <div class="float-end"><strong>$<%= item.amount %></strong></div>
                                    </div>
                                <% } else if (section.donation) { %>
                                    <a href="/donations/<%= item._id %>">
                                        <strong>Donation Title:</strong> <%= item.title.length > 30 ? item.title.substring(0, 30) + '...' : item.title %>
                                    </a>
                                    
                                    <p>
                                        <strong>Total Collection:</strong> $<%= item.totalCollection %> / $<%= item.fundraisingGoal %>
                                        <br>
                                        <strong>Completion:</strong>
                                        <progress value="<%= item.totalCollection %>" max="<%= item.fundraisingGoal %>" style="width: 100%;"></progress>
                                        <span><%= (item.totalCollection / (item.fundraisingGoal) * 100).toFixed(2) %>%</span>
                                    </p>
                                    <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#donors-<%= item._id %>">
                                        View Donors
                                    </button>
                                    <div id="donors-<%= item._id %>" class="collapse">
                                        <ul>
                                            <% item.donors.forEach(donor => { %>
                                                <!-- <%# donor  %> <br><hr> -->
                                                <li><a href="/users/profile/<%=donor.user._id  %>"> @<i><%= donor.user.username %>:</i>&nbsp;&nbsp; $<%= donor.amount %></a></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                <% } else { %>
                                    <%= item %>
                                <% } %>
                            </span>
                            <span class="float-end">
                                <% if (section.leave) { %>
                                    <form action="/<%= section.link %>/<%= item._id %>/leave" method="post" style="display: inline;">
                                        <button type="submit" class="btn btn-link text-danger" onclick="return confirm('Are you sure you want to leave this group/event?');">
                                            <i class="fa-solid fa-sign-out-alt"></i>
                                        </button>
                                    </form>
                                <% } else if (section.remove) { %>
                                    <form action="/quizzes/<%= item._id %>/remove" method="post" style="display: inline;">
                                        <button type="submit" class="btn btn-link text-danger" onclick="return confirm('Are you sure you want to remove your participation in this quiz?');">
                                            <i class="fa-solid fa-times"></i>
                                        </button>
                                    </form>
                                <% } else { %>
                                    <a href="/<%= section.link %>/<%= item._id %>/edit" class="btn btn-link text-primary">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                    <form action="/<%= section.link %>/<%= item._id %>?_method=delete" method="post" style="display: inline;">
                                        <button type="submit" class="btn btn-link text-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                <% } %>
                            </span>
                        </li>
                    <% }) %>
                </ul>
                <button class="btn btn-primary mt-2" id="toggleButton-<%= section.title.replace(/\s+/g, '') %>" style="display:none;" onclick="toggleView(this, '<%= section.title.replace(/\s+/g, '') %>')">View All</button>
            <% } else { %>
                <p>No <%= section.title.toLowerCase() %> listed.</p>
            <% } %>
        </div>
    <% }) %>
</div>
